
# Laravel padrão
/vendor/
/node_modules/
/.env
/public/storage/
/storage/
/storage/*.key
/storage/app/public/
/storage/logs/
.idea/
*.log
.DS_Store
.env.*.local
.phpunit.result.cache
/public/hot
/public/build/
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map
npm-debug.log
composer.lock
